@import url('./btns.scss');

.box_birds_search_header_box_menu {
    display: none;
    position: fixed;
    top: 98px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: #F9F9FF;
    z-index: 99;
    overflow-y: auto;
    padding: 20px 0px 80px 0px;

    &.act {
        display: block;
    }

    .tabs_menu {
        display: block;
        box-shadow: none;
        width: 100%;
        margin-top: 50px;

        .box_birds_search_content_line {
            width: 100%;
        }

        li {
            &:last-child {
                position: relative;
                bottom: 0;
            }

            a {
                width: 100%;
            }
        }
    }
}

.box_birds_search_header_box_menu_profile {
    margin: 0 auto;
    border-radius: 14px;
    border: 1px solid #B4C0E9;
    padding: 10px 0px;
    color: #17161B;
    font-size: 16px;
    font-weight: 700;
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-right: 15px;
    }
}

.box_birds_search_header_box_menu_btn {
    @include btn;
    padding: 10px 0px;
    max-width: 400px;
    width: 100%;
    margin: 20px auto 0 auto;
}

.box_birds_search_header_box {
    width: 100%;
    background: #F9F9FF;
    box-shadow: 0px 3px 12px #E1E8FF;
    border-radius: 0px 0px 14px 14px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 54px 0 40px;

    @media (max-width: 992px) {
        display: none;
    }

    &.mobile {
        display: none;
        justify-content: flex-start;
        box-shadow: 0px 3px 12px 0px #E1E8FF;
        padding: 40px 54px 10px 40px;
        height: auto;
        border-radius: 0px;

        @media (max-width: 992px) {
            display: flex;
        }

        @media (max-width: 768px) {
            padding: 40px 15px 10px 15px;
        }

        &.fixed {
            border-radius: 0;
            position: fixed;
            top: 0;
            z-index: 100;
            left: 0;
            width: 100vw;
        }
    }
}

.box_birds_search_header_box_item_burger {
    display: block;
    position: relative;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    margin-left: auto;
    top: 5px;

    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */

        -webkit-touch-callout: none;

        &:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(-6px, -11px);
            background: #1B4CFB;
            border-radius: 3px;
        }

        &:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(-9px, 15px);
        }

    }

    span {
        display: block;
        width: 33px;
        height: 3px;
        margin-bottom: 7px;
        position: relative;
        background: #1B4CFB;
        border-radius: 0;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

        &:first-child {
            transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
    }
}

.box_birds_search_header_logo_link {
    width: 168px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    border: 1px solid var(--1-b-4-cfb, #1B4CFB);
    background: var(--f-9-f-9-ff, #F9F9FF);
    box-shadow: 0px 3px 12px 0px #E1E8FF;
}

.box_birds_search_header_box_item {
    display: flex;
    align-items: center;
}

.box_birds_search_header_box_item_btn {
    @include btn;
    width: 222px;
    height: 48px;
    margin-right: 15px;
}

.box_birds_search_header_box_item_price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 48px;
    background: #F9F9FF;
    border: 1px solid #B4C0E9;
    border-radius: 7px;
    margin-right: 15px;

    @media (max-width: 992px) {
        margin-left: 20px;
    }

    @media (max-width: 768px) {
        margin-left: 10px;
    }
}

.box_birds_search_header_box_item_price_sign {
    font-weight: 700;
    font-size: 16px;
    margin-right: 5px;
}

.box_birds_search_header_box_item_price_number {
    font-weight: 700;
    font-size: 16px;
}

.box_birds_search_header_box_item_clerk {
    width: 272px;
    height: 48px;
    background: #F9F9FF;
    border: 1px solid #B4C0E9;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 0 23px;
}

.box_birds_search_header_box_item_clerk_face {
    width: 31px;
    height: 31px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: 17px;
}

.box_birds_search_header_box_item_clerk_name {
    font-weight: 700;
    font-size: 16px;
    color: #17161B;
}

.box_birds_search_header_box_item_clerk_rating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 20px;
    background: #1B4CFB;
    border-radius: 10px;
    margin-left: auto;
}

.box_birds_search_header_box_item_clerk_rating_number {
    font-weight: 500;
    font-size: 12px;
    color: #F9F9FF;
    margin-left: 4px;
}

.box_birds_search_header_box_item_clerk_advice {
    width: 48px;
    height: 48px;
    background: #F9F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #96A1C5;
    border-radius: 14px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;

    @media (max-width: 992px) {
        margin-left: 20px;
    }


    @media (max-width: 768px) {
        margin-left: 5px;
    }

    &:hover {
        background: #EEF2FF;
        transition: all 0.5s ease;
    }

    &.open {
        background-color: #E1E8FF;
    }

    &.delete {
        background-color: #F9F9FF;
    }

    &.act {
        &:before {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            left: 26px;
            top: 16px;
            background: #DC5068;
            border: 1px solid #F9F9FF;
            border-radius: 100px;
        }
    }

    .notice-block {
        position: absolute;
        top: 80px;
        left: -75px;
        right: 0;
        bottom: 0;
        width: 200px;
        z-index: 9999999999;
        height: fit-content;
        background-color: #F9F9FF;
        border-radius: 10px;
        display: none;

        &.act {
            display: block;
        }

        &_tootlip {
            position: absolute;
            top: -14px;
        }

        &_item {
            padding: 10px;
            border-bottom: 1px solid #B4C0E9;

            &:first-child {
                border-radius: 10px 10px 0 0;
            }

            &-title {
                font-size: 14px;
                font-weight: 700;
                color: #17161B;
            }

            &-description {
                color: #818895;
                font-size: 14px;
                font-weight: 500;
                line-height: 150%;
                margin-top: 5px;
            }

            &-time {
                color: #96A1C5;
                font-size: 12px;
                font-weight: 500;
                margin-top: 10px;
            }
        }

        &_close {
            width: 100%;
            padding: 10px 0px;
            text-align: center;
            color: #1B4CFB;
            font-size: 14px;
            font-weight: 700;
            line-height: 150%;
            transition: all 0.4s ease;

            &:hover {
                background-color: #EDF0F8;
                transition: all 0.4s ease;
            }
        }
    }
}