.box_birds_search_first_content_header {
  width: 100%;
  height: 74px;
  background: #F9F9FF;
  box-shadow: 8.25px 14.25px 29.25px rgba(211, 215, 227, 0.47);
  border-radius: 14px;
}
@media (max-width: 992px) {
  .box_birds_search_first_content_header {
    height: auto;
    padding: 12px 0px;
  }
}

.box_birds_search_first_content_header_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 12px;
}
@media (max-width: 992px) {
  .box_birds_search_first_content_header_form {
    flex-wrap: wrap;
  }
}

.box_birds_search_first_content_header_form_select_wrapper {
  width: 165px;
}
@media (max-width: 992px) {
  .box_birds_search_first_content_header_form_select_wrapper {
    width: 100%;
  }
}

.box_birds_search_first_content_header_form_select {
  width: 165px;
  height: 52px;
  background: #EDF0F8;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #17161B;
  padding-left: 15px;
  appearance: none;
  cursor: pointer;
}

.box_birds_search_first_content_header_form_input {
  width: 255px;
  height: 52px;
  background: #EDF0F8;
  border-radius: 10px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 15px;
}
@media (max-width: 992px) {
  .box_birds_search_first_content_header_form_input {
    width: 48%;
    margin-top: 12px;
  }
}
.box_birds_search_first_content_header_form_input::placeholder {
  color: #17161B;
  font-weight: 500;
  font-size: 15px;
}

.box_birds_search_first_content_header_form_date_wrapper {
  width: 138px;
  height: 52px;
  background: #EDF0F8;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 992px) {
  .box_birds_search_first_content_header_form_date_wrapper {
    width: 100%;
    margin-top: 12px;
  }
}

.box_birds_search_first_content_header_form_date,
.create-application_body-routes_inputs-date {
  width: 138px;
  height: 52px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../img/datapicker.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px);
  background-color: #EDF0F8;
  font-weight: 500;
  font-size: 15px;
  color: #17161B;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .box_birds_search_first_content_header_form_date,
  .create-application_body-routes_inputs-date {
    width: 100%;
  }
}
.box_birds_search_first_content_header_form_date::-webkit-calendar-picker-indicator,
.create-application_body-routes_inputs-date::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
.box_birds_search_first_content_header_form_date::-webkit-calendar-picker-indicator,
.create-application_body-routes_inputs-date::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
.box_birds_search_first_content_header_form_date::placeholder,
.create-application_body-routes_inputs-date::placeholder {
  color: #17161B;
  font-weight: 500;
  font-size: 15px;
}

.box_birds_search_first_content_header_form_btn {
  font-weight: 700;
  font-size: 16px;
  color: #F9F9FF;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1B4CFB;
  border-radius: 10px;
  border: 1px solid #1B4CFB;
  transition-duration: 0.5s;
  cursor: pointer;
  width: 133px;
  height: 52px;
  cursor: pointer;
}
.box_birds_search_first_content_header_form_btn:hover {
  transition-duration: 0.5s;
  background: transparent;
  color: #1B4CFB;
  background-color: #F9F9FF;
}
@media (max-width: 992px) {
  .box_birds_search_first_content_header_form_btn {
    width: 100%;
    margin-top: 12px;
  }
}

.box_birds_search_first_active_application {
  justify-content: space-between;
  width: 100%;
  height: 145px;
  border: 1px solid #B4C0E9;
  filter: drop-shadow(11px 19px 39px rgba(211, 215, 227, 0.47));
  border-radius: 20px;
  margin-top: 60px;
  padding: 24px 38px;
  display: none;
}
.box_birds_search_first_active_application.active {
  display: flex;
}
@media (max-width: 992px) {
  .box_birds_search_first_active_application.active {
    display: none;
  }
}

.box_birds_search_first_active_application_content {
  width: 417px;
}

.box_birds_search_first_active_application_content_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #17161B;
}

.box_birds_search_first_active_application_content_txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #17161B;
  margin-top: 15px;
}

.box_birds_search_first_active_application_content_btn {
  font-weight: 700;
  font-size: 16px;
  color: #F9F9FF;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1B4CFB;
  border-radius: 10px;
  border: 1px solid #1B4CFB;
  transition-duration: 0.5s;
  cursor: pointer;
  width: 222px;
  height: 48px;
  align-self: flex-end;
}
.box_birds_search_first_active_application_content_btn:hover {
  transition-duration: 0.5s;
  background: transparent;
  color: #1B4CFB;
  background-color: #F9F9FF;
}

/*# sourceMappingURL=search.css.map */
